{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Categories</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Inscriptions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for category in categories %}
    {% if category.inscriptions.all %}
    <tr>
      <th scope="row">
        <a href="{% url 'category_view' category.name %}" class="category-link"
          >{{ category.name }}</a
        > ({{ category.inscriptions.all|length }})
      </th>
      <td>
        <ul id="index-inscription-list">
          {% for inscription in category.inscriptions.all %}
          <li class="inscription-list-item">
            <a href="{% url 'inscription_detail' inscription.inscription_id|default:'No inscription ID' %}">
              {{ inscription.inscription_id }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
