{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Emperors and Imperial Family Members</h2>
  <ul class="index-header-list">
    <li>
      <p>
        Emperors in ALL CAPS.
      </p>
    </li>
  </ul>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Person</th>
      <th scope="col">Regnal Name</th>
      <th scope="col">Epithets</th>
      <th scope="col">Life</th>
      <th scope="col">Reign</th>
      <th scope="col">External resource</th>
      <th scope="col">Inscriptions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for emperor_imperial_family in emperors_imperial_family %}
    <tr>
      <th scope="row">{{ emperor_imperial_family.person }}</th>
      <td>{{ emperor_imperial_family.regnal_name }}</td>
      <td>{{ emperor_imperial_family.epithet }}</td>
      <td>{{ emperor_imperial_family.life }}</td>
      <td>{{ emperor_imperial_family.reign }}</td>
      <td><a href="{{ emperor_imperial_family.external_resource }}">{{ emperor_imperial_family.external_resource }}</a></td>
      <td>
        <ul id="index-inscription-list">
          {% for inscription in emperor_imperial_family.inscriptions.all %}
          <li class="inscription-list-item">
            <a href="{% url 'inscription_detail' inscription.inscription_id|default:'No inscription ID' %}">
              {{ inscription.inscription_id }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
