{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Welcome, {{ request.user.username }}!</h2>
</div>
<figure> 
  <img src="static/lepcismagna/LMTheatreDedication.jpeg" alt="dedication of Lepcis Magna theatre to Augustus" />
  <figcaption>Bilingual dedication of the theatre of Lepcis Magna to Augustus by Annobal Tapapius Rufus (Roueché 2010)</figcaption>
</figure>
<hr>
<div class="index-header">
  <h3>Quick Start Guide</h3>
</div>

<ul id="quick-start-guide">
  <li>
    <strong><a href="{% url 'inscriptions' %}">INSCRIPTIONS</a></strong> - Browse the full list of inscriptions.
  </li>

  <li>
    <strong><a href="{% url 'inscription_search' %}">SEARCH</a></strong> - Search the full list of inscriptions using filter and keyword queries.
  </li>

  <li>
    <strong><a href="{% url 'categories' %}">CATEGORIES</a></strong> - Browse list of categories and their associated inscriptions.
  </li>

  <li>
    <strong><a href="{% url 'bibliography' %}">BIBLIOGRAPHY</a></strong> - Browse list of bibliography entries and their associated inscriptions.
  </li>

  <li>
    <strong><a href="{% url 'create_entry' %}">CREATE ENTRY</a></strong> - Submit a new epigraphic entry to be validated by the Admins.
  </li>

  <li>
    <strong><a href="{% url 'dossier' %}">DOSSIER</a></strong> - Browse the list of inscriptions you have added to your personal epigraphic dossier.
  </li>

  <li>
    <strong>INDICES</strong> of epigraphic data:
    <ul>
      <li>
        <strong><a href="{% url 'abbreviations' %}">ABBREVIATIONS</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'ages_at_death' %}">AGE AT DEATH</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'divine_sacred_beings' %}">DIVINE AND SACRED BEINGS</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'emperors_imperial_family' %}">EMPERORS AND IMPERIAL FAMILY</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'erasures' %}">ERASURES</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'findspots' %}">FINDSPOTS</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'fragments' %}">FRAGMENTS</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'organizations' %}">ORGANIZATIONS</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'people' %}">PEOPLE</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'personal_names' %}">PERSONAL NAMES</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'place_names' %}">PLACE NAMES</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'symbols' %}">SYMBOLS</a></strong>
      </li>

      <li>
        <strong><a href="{% url 'words' %}">WORDS</a></strong>
      </li>

    </ul>
  </li>

</ul>

{% endblock %}
