{% extends "lepcismagna/layout.html" %} {% block body %}
<div class="container" id="inscriptions">
  <div class="index-header">
    <h2>Inscriptions</h2>
  </div>
  <ul id="inscriptions-list">
    {% for inscription in inscriptions %}
    {% if inscription.is_validated %}
    <li>
      <a
        href="{% url 'inscription_detail' inscription.inscription_id %}"
        class="inscription-link"
      >
        <div class="container">
          {% if inscription.images.all %}
            <img
              class="inscription-thumbnail"
              src="{{ inscription.images.all.0.image_url }}"
              alt="{{ inscription.title }}"
            />
          {% else %}
            <img 
              class="inscription-thumbnail"
              src="static/lepcismagna/no-photos.png"
              alt="no photos available"
            />
          {% endif %}
          <div class="inscription-info">
            <h3>{{ inscription.title }}</h3>
            <h4>{{ inscription.inscription_id }}</h4>
            <p><strong>Findspot: </strong>{{ inscription.findspot_desc }}</p>
          </div>
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
