{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Organizations</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Organization</th>
      <th scope="col">Epithets</th>
      <th scope="col">External resource</th>
      <th scope="col">Inscriptions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for organization in organizations %}
    <tr>
      <th scope="row">{{ organization.name }}</th>
      <td>{{ organization.epithets }}</td>
      <td><a href="{{ organization.external_resource }}">{{ organization.external_resource }}</a></td>
      <td>
        <ul id="index-inscription-list">
          {% for inscription in organization.inscriptions.all %}
          <li class="inscription-list-item">
            <a href="{% url 'inscription_detail' inscription.inscription_id|default:'No inscription ID' %}">
              {{ inscription.inscription_id }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
