{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>People</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Person</th>
      <th scope="col">External resource</th>
      <th scope="col">Inscriptions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for person in people %}
    {% if person.inscriptions.all %}
    <tr>
      <th scope="row">{{ person.person }}</th>
      <td>{{ person.external_resource }}</td>
      <td>
        <ul id="index-inscription-list">
          {% for inscription in person.inscriptions.all %}
          <li class="inscription-list-item">
            <a
              href="{% url 'inscription_detail' inscription.inscription_id|default:'No inscription ID' %}"
            >
              {{ inscription.inscription_id }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
