{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Place Names</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Place Name</th>
      <th scope="col">Attested Form</th>
      <th scope="col">Toponym or Ethnic?</th>
      <th scope="col">External resource</th>
      <th scope="col">Inscriptions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for place_name in place_names %}
    {% if place_name.inscriptions.all %}
    <tr>
      <th scope="row">{{ place_name.place_name }}</th>
      <td>{{ place_name.attested_form }}</td>
      <td>{{ place_name.toponym_ethnic }}</td>
      <td><a href="{{ place_name.external_resource }}">{{ place_name.external_resource }}</a></td>
      <td>
        <ul id="index-inscription-list">
          {% for inscription in place_name.inscriptions.all %}
          <li class="inscription-list-item">
            <a href="{% url 'inscription_detail' inscription.inscription_id|default:'No inscription ID' %}">
              {{ inscription.inscription_id }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
