{% extends "lepcismagna/layout.html" %} {% block body %}

<div class="index-header">
  <h2>Symbols</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Inscriptions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    {% for symbol in symbols %}
    {% if symbol.inscriptions.all %}
    <tr>
      <th scope="row">{{ symbol.symbol }}</th>
      <td>
        <ul id="index-inscription-list">
          {% for inscription in symbol.inscriptions.all %}
          <li class="inscription-list-item">
            <a href="{% url 'inscription_detail' inscription.inscription_id|default:'No inscription ID' %}">
              {{ inscription.inscription_id }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
